<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<div>
    <h3>Add a user</h3>
    <form action="/users" method="POST">
        Name: <input
            type="text"
            name="name"><br/>
        Surname: <input
            type="text"
            name="surname"><br/>
        City: <input
            type="text"
            name="city"><br/>
        Email: <input
            type="text"
            name="email"><br/>
        <button style="width: 30%;" type="submit">Add User</button>
    </form>
    <br>
    <table th:border="1">
        <tr>
            <th>id</th>
            <th>name</th>
            <th>surname</th>
            <th>city</th>
            <th>email</th>
        </tr>
        <tr th:each="user : ${listUsers}">
            <td th:utext="${user.id}"></td>
            <td th:utext="${user.name}"></td>
            <td th:utext="${user.surname}"></td>
            <td th:utext="${user.city}"></td>
            <td th:utext="${user.email}"></td>
        </tr>
    </table>
    <div>
        <h3>Update or delete user by Id</h3>
        <div>
            <form method="GET">
                Search id
                <input style="width: 7%" name="id" type="number"/>
                <button style="width: 30%;">Search</button>
            </form>
        </div>
        <br>
        <form action="users"
              th:action="@{/update/{id}(id=${user.id})}"
              th:object="${user}"
              method="POST">
            <label for="name">Name</label>
            <input type="text" th:field="*{name}" id="name" placeholder="Name">
            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
            <label for="email">Surname</label>
            <input type="text" th:field="*{surname}" id="surname" placeholder="Surname">
            <span th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></span>
            <label for="name">City</label>
            <input type="text" th:field="*{city}" id="city" placeholder="City">
            <span th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></span>
            <label for="email">Email</label>
            <input type="text" th:field="*{email}" id="email" placeholder="Email">
            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
            <input type="submit" value="Update User">
        </form>
        <br>
        <form action="#"
              th:action="@{/delete/{id}(id=${user.id})}"
              th:object="${user}"
              method="GET">
            <label for="id">Id</label>
            <input type="text" th:field="*{id}" id="id" placeholder="Name">
            <span th:if="${#fields.hasErrors('id')}" th:errors="*{id}"></span>
            <input type="submit" value="Delete User">
        </form>
    </div>
</div>

</body>
</html>